---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home">
  <h1 class="text-2xl font-bold mb-4">Welcome to Further South</h1>
  <p>More information will be coming soon.</p>
</Layout>
