---
import { Image } from "astro:assets";

interface Props {
  class?: string;
  src: string;
  alt: string;
  side?: "left" | "right";
}
const { class: className = "", src, alt, side = "left" } = Astro.props;
const direction = side === "right" ? "sm:flex-row-reverse" : "sm:flex-row";
---

<div
  class={`not-prose my-8 flex flex-col gap-4 ${direction} sm:items-center ${className}`}
>
  <Image src={src} alt={alt} width="150" height="150" />
  <div class="prose max-w-none">
    <slot />
  </div>
</div>
