---
import Layout from './Layout.astro';
interface Props {
  title?: string; // document title
  heading?: string; // visible page heading
  description?: string;
}
const { title, heading = title, description } = Astro.props as Props;
---
<Layout title={title ?? heading}>
  <article class="prose mx-auto">
    {heading && <h1 class="mb-4 text-3xl font-bold">{heading}</h1>}
    {description && <p class="mb-8 text-lg text-muted">{description}</p>}
    <slot />
  </article>
</Layout>
